<div class="donutChart">
    <figure id="donut"></figure>
</div>
<div class="circle">
    <div class="circleOne">
        <div class="line" style="border: 1px solid #F05C5B;"></div>
        <div class="text">Delay by more than 10 days</div>
    </div>
    <div class="circleTwo">
        <div class="line" style="border: 1px solid #EB7600; "></div>
        <div class="text">Delay by 4 to 10 days</div>
    </div>
    <div class="circleThree">
        <div class="line" style="border: 1px solid #F4AE3B;"></div>
        <div class="text">Delay by 1 to 3 days</div>
    </div>
    <div class="circleFour">
        <div class="line" style="border: 1px solid #248318;"></div>
        <div class="text">On time</div>
    </div>
</div>